@model ListofCookingGasVM

@{
    Layout = "~/Views/Shared/_Shop4ULayout1.cshtml";
}

<section class="content">

    <div class="row clearfix">

        @foreach (var cookinggas in Model.Listofcookinggas)
        {
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>@cookinggas</h4>
                        <img src="images/product/1.png" alt="" />
                    </div>
                </a>
            </div>
        }



    </div>
    </section>
