@model ListofSupermarketsAdminVM

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


@{
    ViewBag.Title = Model.PageTitle;
}

<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form method="get" action="/Supermarkets/CreateSupermarket" class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create Supermarket</button>
    </form>
</nav>

<h3 class="text-center text-info">SUPERMARKETS</h3>
<table class="table table-dark">

    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Model.Supermarkets.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model.Supermarkets[i - 1].Name</td>
                <td>
                    <a href="/Supermarkets/DeleteSupermarket/@Model.Supermarkets[i - 1].Id" class="btn btn-info">Delete</a>
                </td>
                <td>
                    <a href="/Supermarkets/EditSupermarket/@Model.Supermarkets[i - 1].Id" class="btn btn-info">Modify</a>
                </td>
            </tr>
        }

    </tbody>
</table>

